SpliceComponent input-dim=13 left-context=4 right-context=4
FixedAffineComponent matrix=exp/nnet2/nnet2_simple/lda.mat
AffineComponent input-dim=65 output-dim=50 learning-rate=0.02 param-stddev=0.14142135623731 bias-stddev=0.5
TanhComponent dim=50
AffineComponent input-dim=50 output-dim=144 learning-rate=0.02 param-stddev=0.14142135623731 bias-stddev=0.5
SoftmaxComponent dim=144
